{% extends "macuos/base.html" %}
{% load static %}
{% block nav_home %}active{% endblock %}
{% block content %}
<br />
  {% for post in post_list %}
    <div class="row m-b-3">
      <!-- 2018/08/15 M000001 s-hama >>> -->
      <!--
      <div class="col-xs-12 col-sm-6 text-xs-center">	
        {% if post.thumbnail %}	
          <img class="img-thumbnail" src="{{ post.thumbnail.url }}">	
        {% else %}	
          <img class="img-thumbnail" src="{% static 'macuos/img/noimage.png' %}">	
        {% endif %}	
      </div>
      -->
      <!-- 2018/08/15 M00001 s-hama <<<  -->
      <!-- 2018/08/15 M00001 s-hama >>>
      <!--<div class="col-xs-12 col-sm-6"> -->
      <div class="col-xs-12 col-sm-12">
      <!-- 2018/08/15 M00001 s-hama <<< -->
        <h4>{{ post.title }}</h4>
        <span class="tag tag-info">{{ post.category.parent }}</span>
        <span class="tag tag-primary">{{ post.category }}</span>
        {% for tag in post.tag.all %}
          <span class="tag tag-success">{{ tag.name }}</span>
        {% endfor %}
        <p class="text-muted">{{ post.created_at }}</p>
        {% if user.is_authenticated %}
        <p>
	<a class="nav-link" href="{% url 'admin:macuos_post_change' post.pk %}">>> To Management</a>
        </p>
        {% endif %}
	<a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'macuos:detail' post.pk %}">>> この記事を読む</a>
      </div>
    </div>
  {% endfor %}
  <div class="text-xs-center">
    {% include "macuos/page.html" %}
  </div>
{% endblock %}
